NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SUPABASE_SECRET_KEY=
TWITTER_API_IO_KEY=
CRON_SECRET=
CREEM_API_KEY=
CREEM_WEBHOOK_SECRET=
CREEM_MONTHLY_PRODUCT_ID=
CREEM_YEARLY_PRODUCT_ID=
CREEM_TEST_MODE=true
